[submodule "app/modules/ectyper/ecoli_serotyping"]
	path = app/modules/ectyper/ecoli_serotyping
	url = https://github.com/phac-nml/ecoli_serotyping.git
	branch = superphy
[submodule "grouch"]
	path = grouch
	url = https://github.com/superphy/grouch.git
[submodule "app/modules/PanPredic"]
        path = app/modules/PanPredic
        url = https://github.com/superphy/PanPredic.git
