[submodule "app/modules/ectyper/ecoli_serotyping"]
	path = app/modules/ectyper/ecoli_serotyping
	url = https://github.com/phac-nml/ecoli_serotyping.git
	branch = superphy
[submodule "reactapp"]
	path = reactapp
	url = https://github.com/superphy/reactapp.git
