##spfy logs
outputs/

##uploads
instance/uploads/
app/tmp/

##vagrant
.vagrant/

##Flask
.DS_Store
*.pyc
*.pyo
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

##Superphy

# Virtual environment
venv/*
**/venv/*
!venv/lib
!venv/requirements.txt
!venv/npm-requirements.txt
venv/lib/*
!venv/lib/python2.7
venv/lib/python2.7/*
!venv/lib/python2.7/site-packages/
venv/lib/python2.7/site-packages/*
!venv/lib/python2.7/site-packages/SuperPhy

config/*
!config/default.cfg

*.sqlite

blast/*

#######################
*.py[cod]

#Temporary Files
all.min.css
superphy.min.js
superphy.js

app/bin/outputs/*
app/bin/tmp/
app/bin/tmp/*
app/bin/samples/
app/bin/samples/*

## Gene and genome analysis (database files)
app/bin/*.[np]hr
app/bin/*.[np]in
app/bin/*.[np]sq
app/bin/*.fsa

app/mithril/css/*
**/bower_components/*
app/mithril/js/mithril.js
app/posted_files/*
