body, html {
    height: 100%;
}

#sidebar {
    min-width: 130px;
    background-color: #252830;
    color: silver;
}
.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}
.fa-github{
    color: white;
}
.nav-link{
    color: white;
}
