body, html {
    height: 100%;
}

#sidebar {
    background-color: #252830;
    color: #cfd2da;
    max-width: 180px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}
dd{
  font-size: 0.6rem;
}
#spfy-logo{
  width: 120px;
}
.fa-github{
    color: white;
}
#main{
  overflow: scroll;
}
#spinner {
  width: 60px;
}
table {
    word-wrap: break-word;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
