body, html {
    height: 100%;
}

#sidebar {
    background-color: #252830;
    color: silver;
    max-width: 180px;
}
#spfy-logo{
  width: 120px;
}
.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}
.fa-github{
    color: white;
}
.nav-link{
    color: white;
}
#main{
  overflow: scroll;
}
#spinner {
  width: 70px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
