<!DOCTYPE html>
<html ng-app="WordcountApp">

<head>
    <title>spfy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/superphy.ico') }}">
    <!-- styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body ng-controller="WordcountController">
    <div class="container-fluid">
        <div class="row row-gutter">
            <div class="col-md-2">
                <span class="glyphicon glyphicon-cloud-upload"></span>
            </div>

            <div class="col-md-8">
                <form role="form" ng-submit="getResults()">
                    <div class="form-group">
                        <input type="file" file-model="myFile" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" ng-model="url" required>
                    </div>
                    {% raw %}
                    <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button> {% endraw %}
                </form>
                <div class="alert alert-danger" role="alert" ng-show='urlError'>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span>There was an error submitting your file.<br>
            Please check to make sure it is valid before trying again.</span>
                </div>
            </div>

        </div>
        <div class="row">
          <div class="col-md-2">
            <h2>Query</h2>
          </div>
          <div class="col-md-8">
            <div id="results">
                <button class="btn btn-primary" export-to-csv>Download</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Contig ID</th>
                            <th>Analysis</th>
                            <th>Name</th>
                            <th>Orientation</th>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Cutoff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% raw %}
                        <tr ng-repeat="resp in wordcounts">
                            <td>{{resp.filename}}</td>
                            <td>{{resp.contigid}}</td>
                            <td>{{resp.analysis}}</td>
                            <td>{{resp.hitname}}</td>
                            <td>{{resp.hitorientation}}</td>
                            <td>{{resp.hitstart}}</td>
                            <td>{{resp.hitstop}}</td>
                            <td>{{resp.hitcutoff}}</td>
                        </tr>
                        {% endraw %}
                    </tbody>
                </table>
            </div>
            <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static',
            filename='img/spinner.gif') }}" ng-show="loading">
        </div>

        </div>
    </div>
    <br><br>
    <!-- scripts -->
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
