{%- extends "base.html" %}

{% block main %}
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Select task to run</div>
        <div class="panel-body">
            <div class="row">
              <div id="dropbox">
                <span class="message">Drop images here to upload.</span>
              </div>
            </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="static/js/jquery.filedrop.js"></script>
<script type="text/javascript" src="static/js/upload.js"></script>
{% endblock %}
