{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row">
    <form class="form" id="taskForm" method="POST">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.task) }}
      <div class="form-group">
        <button type="button" class="btn btn-default" id="submit">Run</button>
      </div>
    </form>
</div>
{% endblock %}

{% block app_scripts %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/inputFileButton.js') }}" ></script>
{% endblock %}
